# Database connection
POSTGRES_USER=postgres
POSTGRES_PASSWORD=devpass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=devices

# Database options
FORCE_DB_RECREATE=true
INSERT_TEST_DATA=false

# User preference reset
FORCE_USERPREF_RESET=false

# Logging
LOG_LEVEL=trace
DISABLE_HIBERNATE_LOGGING=true
# Turning the below setting on will cause some pretty serious log spam. Leave it off unless you need
# it for debugging, and even then, you should leave LOG_ALL_HIBERNATE_EVENT_TRIGGERS off.
LOG_HIBERNATE_EVENT_TRIGGERS=true
# WARNING: This *will* spam your logs to hell. Leave it off unless you absolutely definitely need
# it for debugging some ultra-rare edge case.
LOG_ALL_HIBERNATE_EVENT_TRIGGERS=false